<p>I'm fat, well fatter than I'd like. <mark>I'm tracking lots of stuff to keep me motivated.</mark> <span class="light">Last updated at <%= @last_updated %>.</span></p>

<!-- <ul class="list">
  <li>Current weight: <%= '%0.2f' % @last_weight %>lbs</li>
  <li>Water consumed today: <%= '%0.2f' % @water %>oz</li>
  <li>Steps today: <%= '%0.f' % @steps %></li>
</ul> -->

<canvas></canvas>

<script>var fat={'weight':<%= @weight %>};</script>
